body {
    font-family: "Roboto", sans-serif;
    background-color: #e9b37e;
  }
  
  .signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3rem;
  }
  
  .login-box {
    margin-top: 5rem;
    width: 360px;
    height: 280px;
    margin: auto;
    padding: 0;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 1px black;
    background-color: white;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #76492b;
    color: white;
    font-size: 18px;
  }

  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: rgb(7, 7, 7);
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color:#76492b;
    font-weight:bold ;
  }
  
  